services:
  mydb:
    image: 'mysql:8.0'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: knox
      MYSQL_PASSWORD: knoxpass
      MYSQL_DATABASE: userinfo
    networks:
      - my-net
    healthcheck:
      test: ["CMD-SHELL", "mysql -u knox -pknoxpass -e 'USE userinfo;'"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s

    container_name: "Mysqldb" #-- (Optional docker can also assign default name)

  myapp:
     image: 'pyapp:2.0'
     container_name: "tp_app"
     networks:
      - my-net
     depends_on:
      mydb:
        condition: service_healthy
     stdin_open: true
     tty: true

networks:
  my-net: